.dial {
    background: rgb(240, 240, 240);
    /* cień pod oknem */
    box-shadow:1px 1px 5px #555;
    display:none;
    /*top:30px;*/
    z-index:1;
    position:  fixed;
    /* zaokrąglone rogi, nie działają w IE */
    -o-border-radius: 10px;
    border-radius: 5px;
    text-align: left;
    margin-left: -100px; /* połowa szerokości*/
    left: 20%;
    width: 70%;
    padding: 10px;
}